* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  background: #E8E8E8;
}

main {
  width: 980px;
  margin: auto;
}

img {
  display: block;
}

main section {
  margin-left: 5%;
}

input {
  width: 300px;
  padding: 8px 0;
  text-indent: 2%;
  border: 1px solid #ccc;
}

input,
button {
  border-radius: 3px;
}

button {
  padding: 8px 12px;
  border: 1px solid #9876D9;
  background: #9876D9;
  color: #FFF;
}

p {
  margin-top: 2%;
}

article {
  margin-top: 4%;
}